#camera{
    width: 350px;
    height: 300px;
    border:2px dashed blueviolet;
}
body{
    background-color: rgb(219, 204, 185);
    color:rgb(5, 12, 10);
}
.heading{
    width: 100%;
    font-size: 22px;
}
.name_of_object, #result_object_name, #result_object_accurasy{
 color: rgb(175, 238, 238, 215);
}